---
meta_description: Website description
change_frequency: weekly
priority: 1.0
---
<div style="text-align: center;">
    <h1>
        Middleman is Running
    </h1>

    <%= link_to(
            "Read Documentation",
            "https://middlemanapp.com/basics/templating_language/",
            target: "_blank"
        ) %>
</div>

<style>
    <%= inline_asset 'stylesheets/home' %>
</style>
